.account.page {
    .loading-message {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-top: 10rem;
    }
    
    .account-nav {
        width: 12rem;
        padding: 1rem 2rem;
        margin: auto;
        margin-bottom: 2rem;       
        background-color: black;
        border: 1px solid blanchedalmond;
        border-radius: 5px;
        font-size: 1.75rem;
        font-weight: 600;
    }
}