.account.page {
  .loading-message {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10rem;
  }

  .account-nav {
    width: 12rem;
    padding: 1rem 2rem;
    margin: auto;
    margin-bottom: 2rem;
    background-color: black;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    font-size: 1.75rem;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto 1rem;
    padding: 2rem;
    background-color: black;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;

    header {
      text-align: center;
      margin-bottom: 1.5rem;

      .title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
      }

      .subtitle {
        font-size: 1.75rem;
        font-weight: 600;
        max-width: 95%;
        margin: auto;
      }
    }



    .errors-container {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      border: 1px solid blanchedalmond;
      border-radius: 5px;
      background-color: black;
      color: red;
      text-align: center;

      .errors-title {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0.5rem auto;
      }

      .error {
        margin-bottom: 0.5rem;
      }
    }

    .submit-button {
      margin: 1rem auto 0;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      border: 1px solid blanchedalmond;
      border-radius: 5px;
      background-color: black;
      color: blanchedalmond;
      cursor: pointer;

      &:hover {
        background-color: blanchedalmond;
        color: black;
      }

      &:disabled {
        background-color: grey;
        color: black;
        cursor: not-allowed;
      }
    }
  } // end form
} // end .account.page
