.page.favorites {
  .table-view-controls {
    margin-bottom: 1rem;
    max-width: 50%;
    margin: 0 auto 2rem;

    .table-view-btn {
      padding: 1rem;
      background-color: black;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      font-size: 1.75rem;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.25rem;
    }
  }

  .category-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin: 0 auto 2rem;

    label,
    select {
      font-size: 1.5rem;
      font-weight: 600;
    }

    label {
      text-transform: capitalize;
    }

    select {
      border-radius: 0.5rem;
      outline: none;
      cursor: pointer;
      margin-left: 1rem;
      margin-right: 0.5rem;
      border: 1px solid #ccc;
      padding: 0.2rem;
    }
  }

  .favorites-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;

    th,
    td {
      padding: 0.5rem 0.25rem;
      text-align: center;
      border: 1px solid #ccc;
      vertical-align: middle;
    }

    th {
      background-color: dodgerblue;
      color: blanchedalmond;
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 600;
    }

    td {
      font-size: 1.25rem;
      background-color: black;
      line-height: 1.5;
    }

    td.no-quote {
      font-size: 1.5rem;
      font-weight: 600;
    }

    td.category {
      text-transform: capitalize;
      padding: 0.5rem 1rem;
    }

    .table-btn {
      background-color: transparent;
      color: red;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 0.25rem;
      margin: 0 0.25rem;
    }

    .delete-btn:hover {
      color: blanchedalmond;
    }

    .delete-btn:active {
      color: gray;
    }
  }
}
