.create.page {
  .navbar {
    width: 23rem;
  }

  .form.create {
    .form-input {
      display: grid;
      grid-template-columns: 150px 1fr;
      align-items: center;
      justify-content: center;
      max-width: 80%;
      margin: 0 auto 0.5rem;

      textarea,
      input {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
      }

      select {
        font-size: 1.35rem;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
      }
    }
  }

  .creation-list {
    .list-head {
      text-align: center;
      font-size: 2.25rem;
      letter-spacing: 0.2rem;
      text-transform: capitalize;
      margin: 2rem auto 1.5rem;
      width: 80%;
      line-height: 1.3;
    }

    .form-input.select {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      label,
      select {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
      }

      label {
        margin-right: 1rem;
      }
    }
  }
}
