.create.page {
  .navbar {
    width: 25rem;
  }

  .creation-list {
    .list-head {
      text-align: center;
      font-size: 2.25rem;
      letter-spacing: 0.2rem;
      text-transform: capitalize;
      margin: 3rem auto 4rem;
    }
  }
}
