#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.app-header {
  display: flex;
  justify-content: end;
  margin-top: 100px;
  margin-bottom: 150px;
  padding-right: 100px;
}

/*NavLinks*/
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 57%;
}

.nav-btn {
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 2rem;
  padding: 0.75rem 1rem;
}
