#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  --font-size-28px: 1.75rem;
}

.app-header {
  display: flex;
  justify-content: end;
  margin-top: 100px;
  margin-bottom: 150px;
  padding-right: 100px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 57%;
}

.nav-btn {
  background-color: transparent;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: var(--font-size-28px);
  font-weight: 600;
  padding: 0.75rem 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
}

.nav-btn.active {
  color: #fff;
  background-color: darkmagenta;
  border-radius: 0.25rem;
}

.accounts {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
}
